@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

@layer components {
  .hamMenuTransition {
    .bar {
      transition:
        rotate 0.2s,
        width 0.2s,
        top 0.2s 0.2s;
    }
    &.open {
      .bar {
        transition:
          top 0.2s,
          width 0.2s,
          rotate 0.2s 0.2s;
      }
    }
  }

  .wysiwyg {
    > *:first-child {
      @apply !mt-0;
    }

    h1 {
      @apply mt-16 text-5xl leading-normal font-bold;
    }
    h2 {
      @apply mt-16 border-b-2 text-4xl leading-normal font-bold;
    }
    h3 {
      @apply relative mt-8 pl-5 text-3xl leading-normal font-bold;
      @apply before:bg-foreground before:absolute before:top-4.5 before:left-0 before:block before:aspect-square before:h-2 before:content-[''];
    }
    h4 {
      @apply mt-8 text-2xl leading-normal font-bold;
    }
    h5 {
      @apply mt-4 text-xl leading-normal font-bold;
    }

    p {
      @apply font-medium;
    }

    > p {
      @apply mt-4;
    }

    p > code {
      @apply bg-code text-background rounded-sm p-2;
    }

    blockquote {
      @apply text-foreground/70 border-foreground relative mt-4 w-fit overflow-hidden border py-8 pr-8 pl-12 text-sm;
      @apply before:absolute before:top-0 before:left-0 before:z-[-1] before:block before:h-8 before:w-8 before:bg-[url("/images/common/icon_quote.svg")] before:bg-contain before:bg-no-repeat before:opacity-80 before:content-[''];
    }
  }
}

:root {
  --background: rgb(203, 203, 201);
  --foreground: #171717;

  --primary: #0a0a0a;
  --code: #0d1117;

  --easing: cubic-bezier(0.9, 0.03, 0.49, 1.02);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-noto-sans-jp: var(--font-noto-sans-jp);
  --font-inter: var(--font-inter);

  --color-primary: var(--primary);
  --color-code: var(--code);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --primary: #ffffff;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Helvetica, "Noto Sans JP", sans-serif; */
}
