@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

@layer base {
  @import "@splidejs/react-splide/css";
}

@layer components {
  .hamMenuTransition {
    .bar {
      transition:
        rotate 0.2s,
        width 0.2s,
        top 0.2s 0.2s;
    }
    &.open {
      .bar {
        transition:
          top 0.2s,
          width 0.2s,
          rotate 0.2s 0.2s;
      }
    }
  }

  .box-shadow-primary {
    box-shadow: 3px 3px 4px 2px rgb(0, 0, 0, 0.4);
  }

  .no-defaultScrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-defaultScrollbar::-webkit-scrollbar {
    display: none;
  }

  .wysiwyg {
    @apply grid;

    > *:first-child {
      @apply !mt-0;
    }

    h1 {
      @apply mt-16 text-5xl leading-normal font-bold;
    }
    h2 {
      @apply mt-16 mb-8 border-b-2 text-4xl leading-normal font-bold;
    }
    h3 {
      @apply relative mt-8 mb-4 pl-5 text-3xl leading-normal font-bold;
      @apply before:bg-foreground before:absolute before:top-4.5 before:left-0 before:block before:aspect-square before:h-2 before:content-[''];
    }
    h4 {
      @apply mt-8 mb-4 text-2xl leading-normal font-bold;
    }
    h5 {
      @apply mt-4 mb-4 text-xl leading-normal font-bold;
    }

    > p {
      @apply mt-4;
    }

    p > code {
      @apply bg-code rounded-sm p-2 text-white;
    }

    blockquote {
      @apply text-foreground/70 border-foreground relative mt-4 w-fit overflow-hidden border py-8 pr-8 pl-12 text-sm;
      @apply before:absolute before:top-0 before:left-0 before:z-[-1] before:block before:h-8 before:w-8 before:bg-[url("/images/common/icon_quote.svg")] before:bg-contain before:bg-no-repeat before:opacity-80 before:content-[''];
      @apply dark:before:filter-(--filter-in-dark);
    }

    .container-table {
      @apply overflow-auto py-1;
      table {
        @apply mx-auto mt-4 border-collapse whitespace-nowrap;
        tbody {
          th,
          td {
            @apply border-foreground border p-4;
          }
          th {
            @apply bg-foreground/80 text-foreground-invert dark:bg-foreground/60 font-bold;
          }
          td {
          }
        }
      }
    }

    ul {
      @apply mt-4 grid gap-y-2;
      li {
        @apply relative pl-4;
        @apply before:bg-foreground before:absolute before:top-2.5 before:left-0 before:block before:h-1 before:w-1 before:rounded-full before:content-[''];
      }
    }

    ol {
      @apply mt-4 grid gap-y-2 [counter-reset:num];
      li {
        @apply relative pl-8;
        @apply before:absolute before:top-0.5 before:left-0 before:grid before:h-5 before:w-5 before:place-items-center before:rounded-full before:border before:text-xs before:content-[counter(num)] before:[counter-increment:num];
      }
    }

    a {
      @apply text-foreground underline underline-offset-4;
      @apply hover:no-underline;
      &[target="_blank"] {
        @apply after:ml-1 after:inline-block after:h-4 after:w-4 after:bg-[url('/images/common/icon_blank.svg')] after:bg-contain after:bg-no-repeat after:content-[''];
        @apply dark:after:filter-(--filter-in-dark);
      }
    }

    figure {
      @apply mx-auto mt-8 w-[90%];
      figcaption {
        @apply text-foreground/70 mx-auto mt-1 w-fit text-sm;
      }
    }

    pre {
      @apply grid;
    }

    div:has(> iframe) {
      @apply mt-8 grid;
    }

    div:has(> iframe[src*="codepen.io"]) {
      @apply h-100 md:!h-125;
    }
  }

  .splide-subgrid {
    .splide__list {
      @apply grid grid-flow-col justify-start;
    }
  }

  [data-theme="dark"] .dark-filter-to-foreground {
    @apply filter-(--filter-in-dark);
  }

  .onFocus {
    @apply relative outline-none;
    @apply before:absolute before:-inset-1 before:z-[-1] before:rounded-sm before:bg-transparent before:duration-300 before:content-[''];
    &:focus-visible {
      @apply before:bg-foreground/10;
    }
  }

  /* view transition API スタイル */
  @keyframes slide-in {
    from {
      clip-path: inset(0 100% 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  @keyframes slide-out {
    from {
      clip-path: inset(0 0 0 0);
    }
    to {
      clip-path: inset(0 0 0 100%);
    }
  }

  ::view-transition-old(heading-pageTtl) {
    animation: slide-out 0.3s ease forwards;
  }
  ::view-transition-new(heading-pageTtl) {
    animation: slide-in 0.3s ease forwards;
  }
}

@layer utilities {
  /* about ページ @layer components だと負けてしまうので utilities で定義 */
  body:has(.is-about-page) {
    main {
      @apply pt-0;
    }
    header {
      @apply border-none bg-transparent backdrop-blur-none;
    }
  }
}

:root {
  --background: oklch(0.84 0.006 106.1);
  --foreground: oklch(0.19 0.008 270);
  --foreground-invert: oklch(0.84 0.006 106.1);

  --gray-dark: oklch(0.25 0.008 270);
  --code: oklch(0.08 0.01 264);

  --easing: cubic-bezier(0.9, 0.03, 0.49, 1.02);

  --filter-in-dark: brightness(0) saturate(100%) invert(100%) sepia(4%)
    saturate(441%) hue-rotate(342deg) brightness(83%) contrast(91%);
}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

[data-theme="dark"] {
  --background: oklch(0.19 0.008 270);
  --foreground: oklch(0.84 0.006 106.1);
  --foreground-invert: oklch(0.19 0.008 270);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-invert: var(--foreground-invert);

  --color-red-soft: var(--red-soft);
  --color-green-soft: var(--green-soft);
  --color-gray-dark: var(--gray-dark);
  --color-code: var(--code);

  --font-noto-sans-jp: var(--font-noto-sans-jp);
  --font-inter: var(--font-inter);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --primary: #ffffff;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Helvetica, "Noto Sans JP", sans-serif; */
}
