@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

@layer components {
  .hamMenuTransition {
    .bar {
      transition:
        rotate 0.2s,
        width 0.2s,
        top 0.2s 0.2s;
    }
    &.open {
      .bar {
        transition:
          top 0.2s,
          width 0.2s,
          rotate 0.2s 0.2s;
      }
    }
  }
  .row {
    margin-inline: auto;
    max-width: 1200px;
    padding-inline: 1rem;
    width: 100%;
  }
}

:root {
  --background: rgb(203, 203, 201);
  --foreground: #171717;

  --primary: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --primary: #ffffff;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    Helvetica "Noto Sans JP",
    sans-serif;
}
